<!--css--><%= stylesheet_link_tag 'reset', "static_pages" %>
<!--js--><%= javascript_include_tag "static_pages" %>
<html id="login_head">
<head>
<h1>test</h1>
</head>
<body>
<ul class="nice">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</body>
</html>