<!--css--><%= stylesheet_link_tag "static_pages" %>
<!--js--><%= javascript_include_tag "static_pages" %>
<html>
<header>
    <h1 id="oh">coobroom alpha^4</h1>
</header>
<body>
    
<!--<hr id="meme1">-->
<a href="login" id="any">Press to continue</a>
<!--<hr id="meme2" class="right">-->

</body>
</html>

