<%= javascript_include_tag "static_pages" %>
<%= stylesheet_link_tag "static_pages" %>
<html>
<header>
    <h1>Welcome!</h1>
</header>
<body>
    
<!--<hr id="meme1">-->
<p id="any">Press any key to continue</p>
<!--<hr id="meme2" class="right">-->

</body>
</html>