html {
    /* creates a linear gradient bearing 300, with the colors listed*/
    background: linear-gradient(300deg, #a923aa, #5fd453, #53d4cf, #d55050);
    /* changes size to 800%, keep in mind the page only shows 100% */
    background-size: 800%, 800%;
    /* has to be included to change position */
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* calls animation 'dogs' with a duration of 30 seconds that eases in and repeats for infinity */
    animation: dogs 30s ease infinite;
    /* everything after animation: is simply to make it work with every browser */
    -webkit-animation: dogs 30s ease infinite;
    -moz-animation: dogs 30s ease infinite;
    -o-animation: dogs 30s ease infinite;
}

/* just define our header stuff, pretty straight foward */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*this is the meme that masks the text 'welcome'*/
#oh{
    font-size: 120px;
    text-shadow: 0 0 25px rgba(0, 255, 255, .4);
    /* the meme's url*/
    background: url("https://media1.giphy.com/media/fLg3MEWdgH5Ti/200.gif");
    background-repeat: no-repeat;
    /* this covers the entire h1 */
    background-size: cover;
    opacity: .8;
    /* this is what actually masks it, also ignore the error*/
    background-clip: text;
    /* the rest is for cross-browser compatability */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

#any {
    font-size: 25px;
    top: 50%;
    font-family: Verdana;
    color: white;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-variant: small-caps;
}

#any:after {
    content: "\2026";
    overflow: hidden;
    width: 0px;
    animation: any-anim steps(4, end) 900ms infinite;
    -moz-animation: any-anim steps(4, end) 900ms infinite;
    -o-animation: any-anim steps(4, end) 900ms infinite;
    -webkit-animation: any-anim steps(4, end) 900ms infinite;
}

/* animation keyframes */
@keyframes any-anim {
    to {
        width: 1.25em;
    }
}

@-moz-keyframes any-anim {
    to {
        width: 1.25em;
    }
}

@-o-keyframes any-anim {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes any-anim {
    to {
        width: 1.25em;
    }
}

@keyframes dogs {
    0% {background-position:0% 23%;}
    50% {background-position: 100% 78%;}
    100% {background-position: 0% 23%;}
}

@-webkit-keyframes dogs {
    0% {background-position:0% 23%;}
    50% {background-position: 100% 78%;}
    100% {background-position: 0% 23%;}
}

@-moz-keyframes dogs {
    0% {background-position:0% 23%;}
    50% {background-position: 100% 78%;}
    100% {background-position: 0% 23%;}
}

@-o-keyframes dogs {
    0% {background-position:0% 23%;}
    50% {background-position: 100% 78%;}
    100% {background-position: 0% 23%;}
}


 /* ripperino coderino graveyarderino (it's to make code more readable) */
/* html {
         animation declarations
    animation-name: dogs;
    animation-duration: 40s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    background:#B8BEB4;
    background: radial-gradient(#B8BEB4, #71685F);
    background: -webkit-radial-gradient(#B8BEB4, #71685F);
    background-size:cover;
}*/
 /*header h1:hover {
    font-size:500px;
}*/

/*@keyframes background-anim {
    0% {color: #095050;}
    25% {color: #470D58;}
    50% {color: #1D5200;}
    75% {color: #A9372E;}
    100% {color: #5E5100;}
}*/
/* header {
       /* position: static;
    left: 50%;
    top: 50%;*/
    /*animation-name: header-anim;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    text-shadow: 2px 2px #686868;
}*/

/* header h1{
   background-size:cover; 
   text-shadow: 2px 3px #ff0000;
}*/


/*first hr i think*/
/*
hr {
    display:block;
    position:absolute;
    z-index:0;
    left:0px;
    width:100%;
    margin:0;
}

hr.right {
    left:auto;
    right:0px;
}

hr.meme1{
    top: 10px;
    -webkit-animation: meme1 3s;
    -moz-animation: meme1 3s;
    -o-animation: meme1 3s;
    animation: meme1 3s;
}

@-webkit-keyframes meme1 {
    0% { 
        width: 100%;
    }
    50% { 
        width: 100%;
    }
    80% { 
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes meme1 {
    0% { 
        width: 100%;
    }
    50% { 
        width: 100%;
    }
    80% { 
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@-o-keyframes meme1 {
    0% { 
        width: 100%;
    }
    50% { 
        width: 100%;
    }
    80% { 
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@keyframes meme1 {
    0% { 
        width: 100%;
    }
    50% { 
        width: 100%;
    }
    80% { 
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
*/

/*#frame1 {
    position: absolute;
    vertical-align: middle;
    font-size: 75px;
}*/